/* ---------- ヘッダーの設定 ---------- */

/* headerの詳細 */
.header-left{
  flex: 7;
}
.header-center{
  flex: 1.5;
}
.header-rigth{
  flex: 1.5;
}
.title{
  padding-left: 20px;
}
.title a{
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-family: Arial;
  font-weight: bold;
  transform: scaleX(1.5);
  padding: 0px;
}

header{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  background-color: white; 
  justify-content: space-between;
  position: sticky;       /* スクロールしても上に固定 */
  top: 0;
  z-index: 100;            /* 一番手前に表示 */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.22);
  font-family: Arial;
}
#header{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  background-color: white; 
  justify-content: space-between;
  position: sticky;       /* スクロールしても上に固定 */
  top: 0;
  z-index: 100;            /* 一番手前に表示 */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.22);
  font-family: Arial;
}

/*　動かない動き　*/
/* #header.Stay{
  animation: DownAnime 0.s forwards;
}

@keyframes StayAnime{
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

/*　上に上がる動き　*/
#header.UpMove{
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 1;
	transform: translateY(0);
  }
  to {
    opacity: 0;
	transform: translateY(-100px);
  }
}

/*　下に下がる動き　*/
#header.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  opacity: 0;
	transform: translateY(-100px);
  }
  to {
  opacity: 1;
	transform: translateY(0);
  }
}

/* headerの詳細ここまで */

/* hamburger menu */
#nav {
    margin: 0;
    padding: 0;
    /* display: flex; */
}
#nav li {
  background: opacity;
  height: 42px;
  width: 100px;
  list-style: none;
  text-align: center;
  font-size: 20px;
  line-height: 2.5;
  margin-right:20px;
  margin-top: 0px;
}
#nav li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
#nav li ul {
  /* display: grid;
  justify-content: center; */
  width: 250px;
  height: 300px;
  margin-left: -130px;
  margin-top: 4px;
  padding-left: 0px;
  background-color: rgba(142, 142, 142, 0.93);
  text-align: center;
  display: none;
}
#nav li ul li {
  text-align: center;
  padding: 20px 20px 20px 40px;
}
/* hamburger menuここまで */

/* ３本線の設定 */
#humberger {
  position: relative;
  height: 25px;
  width: 15px;
  display: inline-block;
  box-sizing: border-box;
  margin-right:27px;
  padding:0;
}
#humberger div /*以下は三本線の設定*/{
  position: absolute;
  left: 5;
  height: 2px;
  width: 23px;
  background-color: black;
  display: inline-block;
  box-sizing: border-box;
}
#humberger div:nth-of-type(1) {
  bottom: 20px;
}
#humberger div:nth-of-type(2) {
  bottom: 10px;
}
#humberger div:nth-of-type(3) {
  bottom: 0px;
}
/* ３本線の設定ここまで */

/* アイコン */
.icon{
  display: flex;
  align-items: center;
}
.twitter{
  margin-left: 20px;
}
/* アイコンここまで */

/* ---------- ヘッダーの設定おわり ---------- */
  
/* ---------- サイトのメイン ---------- */
body {
  font-family: Arial;
  margin: 0px;
  height: 100%;
  background: black;
}
/* ---------- サイトのメイン終わり ---------- */

/* ---------- ロゴと説明文 ---------- */
.body-top{
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

/* ロゴ */
.body-top-left{
  padding: 10px;
  margin: 50px 20px 50px 20px;
}
.body-top-left img{
  width: 380px;
}
/* ロゴここまで */

/* 紹介文 */
.body-top-right{
  font-size: 115%;
  width: 500px;
  color: white;
  /* font-weight: bold; */
  margin: 30px 50px 80px 50px;
}
.introduction{
  letter-spacing: 0.05em;
}
/* 紹介文ここまで */

/* ---------- ロゴと説明文終わり ---------- */

/* ---------- フッター設定 ---------- */

.footer{
  width: 100%;
  background-image: -webkit-gradient(linear, right top, left top, from(#5800FF), to(#E900FF));
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: Arial;
/*   justify-content: center; */
}

/* 各ページ遷移 */

.footer-left {
  font-size: 160%;
  margin: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-left a{
  text-decoration: none;
  color: white;
}
.footer-left p{
  margin:20px;
}
/* 各ページ遷移ここまで */

/* 注釈 */
.footer-right{
  text-align: left;
  font-size: 10%;
  color: white;
/*   width: 420px; */
  margin: 10px 0px 10px 0px;
}
.footer-right a{
  color: rgb(82, 197, 255);
}
.footer-right p{
  margin:20px 40px;
}
/* 注釈ここまで */

/* ---------- フッター設定終わり ---------- */